* {
    margin: 0;
    padding: 0;
}

body {
    color: #11101d;
    width: 100%;
    height: 100%;
}

.navbar1 {
    display: flex;
    justify-content: space-between;
    padding: 10px 0px;
    background-color: #11101d;
    padding-left: 65px;
    padding-right: 35px;
    height: 45px;
}

.svg-inline--fa {
    margin-right: 8px;
    /* size: 12px; */
    font-size: 5px;
    width: 15px;
}

.navbar2 ul {
    display: flex;
    list-style: none;
    color: azure;
}

.navbar2 ul li {
    padding-right: 10px;
    display: flex;
    padding-left: 10px;
}

.navbar2 ul img {
    height: 15px;
    width: 15px;
}

.navbar2 ul li a {
    text-decoration: none;
    color: white;
    font-family: sans-serif;
}

.navbar3 {
    display: flex;
    justify-content: space-around;
}

.navbar3 ul {
    display: flex;
    list-style: none;
    color: azure;
    padding-left: 10px;
    padding-right: 10px;
}

.navbar3 ul li {
    padding-right: 10px;
    padding-left: 10px;
}

.navbar3 ul img {
    height: 15px;
    width: 15px;
}

.navbar3 ul li a {
    text-decoration: none;
    color: white;
    font-family: sans-serif;
}

nav {
    z-index: 1000;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    height: 90px;
    padding-left: 110px;
    padding-right: 100px;
    background: white;
    position: sticky;
    top: 0;
}

a {
    text-decoration: none;
    color: white;
}

.my-account {
    color: #414142;
    padding-left: 90px;
    padding-top: 30px;

}

.breadcrumb-container {
    background-color: #fa6161;
    padding: 30px;
}

.breadcrumb {
    padding: 0;
    margin: 0;
    margin-left: 80px;
    background-color: #fa6161;
}

nav ul img {
    height: 10px;
    width: 10px;
}

nav ul {
    display: flex;
    list-style: none;
    width: 40%;
    justify-content: space-between;
}

nav ul li a {
    color: #11101d;
    text-decoration: none;
    font-size: 0.8em;
}

nav ul li a:hover {
    color: #f55779;
}

/* Login css */
.card {
    margin-right: 50px;
}

.form-login {
    padding-right: 10px;
}


/* FOOTOOPOER */
.nav {
    background: #11101d;
}

.card-regis {
    padding: 30px 50px;
    margin: 90px;
}

form .form-bg {
    background: white;
}

footer {
    width: 100%;
}

.bg-custom-black {
    background-color: #11101d;
    color: white;
}

.p-footer {
    padding: 3rem;
    height: 300px;
}

.p-subs {
    padding: 15px;
    margin-left: 40px;
    margin-right: 60px;
    height: 100%;
}

/* FOOTOOPOER */

.styles-step-header {
    text-align: center;
    color: rgb(27, 27, 27);
    font-weight: 700;
    font-size: 28px;
}

.step-header {
    display: flex;
    margin-top: 20px;
    flex-wrap: nowrap;
    overflow: auto hidden;
}

.step-tittle {
    font-size: 22px;
}

.step-desk {
    text-align: center;
} 

/* list-content */

.list-content {
    padding: 40px 90px;
}

.card-img-top {
    height: 200px;
}

.card {
    margin-top: 30px;
    border-radius: 30px;
}

h4 {
    padding: 70px 0;
    text-align: center;
    color: #414142;
    text-decoration: underline;
}
